{% extends 'base.html' %}

  {% block content %}
  {% include 'inc/header.html' %}

  <header>
    {% include 'inc/header.html' %}

    <div class="container mt-5">
      <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-md-6">
            <nav aria-label="Breadcrumb">
              <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Services</li>
              </ul>
            </nav>
            <h1 class="text-center">Services</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h2 class="title-section">Our Services</h2>
              <div class="divider mx-auto"></div>
          </div>
         <div class="row justify-content-center">
       <div class="col-12 col-lg-auto py-3 wow fadeInLeft">
         <div class="card-pricing">
           <div class="header">
             <div class="price-icon my-1">
<!--               <i style="color: #90A3C7" class="fa-solid fa-network-wired"></i>-->
               <img style="width: 100px; height: 50px" src="https://www.telecomreviewafrica.com/images/stories/2023/06/AirtelTigo_Rebrands_for_Enhanced_Identification_and_Simplicity.jpg" alt="">
             </div>
             <div class="price-title">AT</div>
           </div>
           <div class="body py-3">
             <div class="price-tag">
               Bundles with 60-day expiration
             </div>
             <div class="price-info">
               <p>Buy and browse on the GO!</p>
             </div>
           </div>
           <div class="footer">
             <a href="{% url 'airtel-tigo' %}" class="btn btn-outline-primary rounded-pill">Explore</a>
           </div>
         </div>
       </div>

       <div class="col-12 col-lg-auto py-3 wow fadeInUp">
         <div class="card-pricing">
           <div class="header">
             <div class="price-icon my-1">
<!--                 <i style="color: #90A3C7" class="fa-solid fa-network-wired"></i>-->
                <img style="width: 70px; height: 70px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/New-mtn-logo.jpg/800px-New-mtn-logo.jpg" alt="">
             </div>
             <div class="price-title">MTN</div>
           </div>
           <div class="body py-3">
             <div class="price-tag">
               Bundles that last
             </div>
             <div class="price-info">
               <p>You can't afford to miss it</p>
             </div>
           </div>
           <div class="footer">
             <a href="{% url 'mtn' %}" class="btn btn-outline-primary rounded-pill">Explore</a>
           </div>
         </div>
       </div>

       

     </div>
      </div>
  </div> <!-- .page-section -->
  </main>

  {% include 'inc/footer.html' %}


{% endblock %}